*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
}
.logo{
    margin-top: 0;
    padding: 0%;
    size: 20px;
}
.heading{
    color: rgb(0, 0, 0);
}
.list{
    color: white;
}
.flex{
    display: flex;
    align-items: center;
}

.list
{
    
    display: flex;
    justify-content: left;
}

.mainbox{
    height: 80vh;
    width: 100%;
    
}
.part1{
    height: 80vh;
    width: 50%;
    padding: 40px;
    background-color: white;
}.part2{
    
    height: 100%;
    width: 50%;
    background-color: white;
    
}
.container{
    background-color: rgb(201, 198, 198);
}
.heading{
    background-color: rgb(156, 73, 220);
    height: 60px;
}
.midtable{
    background-color: white;
}
.hidden
{
    background-color: red;
    height: 30px;
    width: 100%;
    color: white;
    align-items: center;
    
}
